<h2>Add Employee</h2>
<div class="m-4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control" %>
      </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class:"form-control" %>
    </div>

    <div class="field">
        <%= f.label :shop_id %><br />
        <%= f.select :shop_id, Shop.all.collect {|s| [ s.name, s.id ] }, { :include_blank => "Choose..." }, class:"form-control" %>
    </div>

    <div class="field">
        <%= f.label :position %><br />
        <%= f.select :position, [ 'CEO', 'HR', 'Manager', 'Engineer', 'Intern' ], {:include_blank => "Choose..."}, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class:"btn btn-primary btn-sm" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
